
<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
      <mat-card class="card">
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
          <h3>Actor list</h3>
        </mat-card-title>
        <mat-card-content>
          <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="dob">
                <mat-header-cell *matHeaderCellDef> Birth date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dob | date: 'd/M/y' }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="bio">
                <mat-header-cell *matHeaderCellDef> bio </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.bio}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a >
                    <mat-icon class="icon">edit</mat-icon>
                  </a>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a >
                    <mat-icon class="icon">delete</mat-icon>
                  </a>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

