.mat-card {
  max-width: 700px;
  margin: auto;
}
  .mat-card .full-width
{
  width: 100%;
}

.mat-card .small {
    width: 30%;
  }

  .mat-card .mat-card-actions {
    display: block;
    text-align: right;
  }


  .with-add-button{
    width:85%
  }


